@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:ital,wght@0,100;0,500;1,200;1,800&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
    
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* section, */
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.fa, .fas {

    color: white;
}

.fal{
    color: white;
}

body{
    /* background-image: url(arkaplan.png); */
    background-image: url(./images/pngwing.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    /* width: 100%;
    height: 100%;
    max-height: 4200;
    max-width: 1600; */
    background-color: #dcdcdc !important;
    overflow: x;
    
}

.elemanter-row{
    padding: 20px 5vw;
}

.elemanter-container{

}


.header{
    /* background-color: navy; */
    background-color: #13212c;
}
.header section{
    display: flex;
    justify-content: space-between;
    color: white;
}

.header .elemanter-row{
    padding: 20px 5vw;
}
.header-menu ul{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin-bottom: 0rem !important;
}

.header-menu li{
    font-size: 22px;
    color: white;
}
.header section div{
    display: flex;
    align-items: center;
}

.header-profile a{
    color: white;
    border: 1px solid #ffffff80;
    border-radius: 2em;
    padding: 10px 25px;
}

.header-logo{
    font-size: 30px;
    font-family: system-ui;
    font-weight: lighter;
}

.main{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5vw;
    justify-content: space-between;
    min-height: 75vh;
}

.main>a{
    flex-basis: 45%;
    max-width: 45%;
    /* padding: 20px; */
    margin: 10px 0px;
    color: white;
    font-size: 30px;
}

.main i{
    font-size: 75px;
}

.button{
    color: white;
    border: 1px solid #ffffff80;
    border-radius: 2em;
    padding: 10px 25px;
    background: none;
    cursor: pointer;
}
.button-black{
    color: black;
    border: 1px solid black;
    border-radius: 2em;
    padding: 10px 25px;
    background: none;
}



.reports{
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    /* padding: 20px 5vw; */
    /* justify-content: space-between; */
    min-height: 75vh;
}

.reports>a{
    flex-basis: 45%;
    max-width: 45%;
    /* padding: 20px; */
    margin: 10px 0px;
    color: white;
    font-size: 30px;
}

.reports i{
    font-size: 75px;
}

.reportFilter{
    background: white;
}

.reportFilter button {
    margin-top: 6px;
}

.myReports{
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    /* padding: 20px 5vw; */
    /* justify-content: space-between; */
    min-height: 75vh;
}

.myReports>a{
    flex-basis: 45%;
    max-width: 45%;
    /* padding: 20px; */
    margin: 10px 0px;
    color: white;
    font-size: 30px;
}

.myReports i{
    font-size: 75px;
}

.patients{
    display: flex;
    flex-flow: row wrap;
    /* padding: 20px 5vw; */
    /* justify-content: space-between; */
    min-height: 75vh;
}

.patients>a{
    flex-basis: 45%;
    max-width: 45%;
    /* padding: 20px; */
    margin: 10px 0px;
    color: white;
    font-size: 30px;
}

.patients i{
    font-size: 75px;
}


/* .main a{
    background-color: #5e539f;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
} */
.myReports-card{
    background-color: #5e539f;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}

.reports-card{
    background-color: #7e3746;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}

.patients-card{
    background-color: #338256;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}

.profile-card{
    background-color: #a14880;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}



/* MYREPORTS */

.report-item{
    /* background-color: #6b6b6b; */
    display: flex;
    align-items: center;
    background-color: slategrey;
    border-radius: 2em;
    padding: 20px;
    margin: 6.6px;
    flex-basis: 25%;
    max-width: 24%;
    max-height: 25vh;
}

.reportImage{
    margin-right: 2vw;
}
.reportImage img{
    width: 10vw;
    height: 20vh;
}

/* PATİENT */

.patient-item{
    display: flex;
    align-items: center;
    width: 25vw;
    min-height: 15vh;
    background-color: #6b6b6b;
    border-radius: 2em;
    padding: 20px;
    margin: 6.6px;
    justify-content: center;
    flex-basis: 25%;
    max-width: 24%;
    max-height: 25vh;
}

.patientImage{
    margin-right: 2vw;
}
.patientImage img{
    width: 10vw;
    height: 20vh;
}

/* PROFİLE */
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.profile-image img{
    width: 15vw;
    height: 15vw;
    /* border-radius: 50%; */
}
.profile-information-button{
    display: flex;
    background-color: slategrey;
    width: 46vw;
    height: 40vh;
    border-radius: 2em;
    padding: 18px;
    margin-bottom: 10vh;
    align-items: center;
}
.profile-reports{
    width: 100%;
    /* height: 30vh; */
    padding: 0vw 20vw;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-report-item{
    display: flex;
    align-items: center;
    background-color: #342f41;
    padding: 15px;
    margin: 15px 0px;
    border-radius: 2em;
}
.profile-image{
    margin-right: 3vw;
    position: absolute;
    left: 20vw;
}

.profile-information{
    margin-left: 11vw;
}
.profile-information ul{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-information li{
    font-size: 29px;
    color: #13212c;
}

.profile-report-item , .form-text{
    color: white;
    font-size: 15px;
}

.position-right{
    margin: 10px 20px;
}



/* PROFİLE UPDATE */


.profile-update .profile-information-button{
    height: 55vh;
}

.profile-update .profile-image {
    position: relative; 
    left: 0vw;
}

.profile-update .profile-information {
    margin-left: 0vw; 
}

.profile-update ul {
    min-height: 41vh;
}
.profile-update li {
    font-size: 17px;
    color: white;
}

.profile-update input{
    background: none;
    outline: none;
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid #c3c3c3;
}



.report-information{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .report-information div{
    border-bottom: 1px solid;
} */

.report-information .form-text input{
    background: none;
    outline: none;
    width: 50vw;
    border-radius: 0.5em;
    border: 1px solid #c3c3c3;
    padding: 4px;
}


/* REPORT DETAİL */
.report-detail img{
    width: 20vw;
    height: 30vh;
}

.report-detail-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5vw;
    padding: 2vw;
    border-radius: 2em;
    height: 75vh;
    background-color: slategrey;
}

.report-detail-row .report-information{
    width: 50vw;
    height: 35vh;
}

.report-detail button{
    margin-top: 2vh;
}

/* REGİSTER */

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.register-box{
    display: flex;
    align-items: center;
    width: 60vw;
    height: 100vh;
    justify-content: space-evenly;
}

.register-input{
    width: 35vw;
    height: 100vh;
    display: flex;
    background-repeat: round;
    background-size: contain;
    background: linear-gradient(90deg, #0a1d26 0%, #4c3951 81.92%);
    /* clip-path: polygon(0% 0%, 80% 0%, 100% 29%, 100% 100%, 20% 100%, 0% 80%); */
    clip-path: polygon(10% 0%, 104% 0%, 100% 0%, 85% 100%, 0% 100%, 0% 100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-input input{
    background-color: transparent;
    border: 1px solid #5d5d5d;
    margin-bottom: 20px;
    padding: 5px;
    width: 20vw;
    color: white;
}

.record{
    color: rgb(255 255 255);
    border: 1px solid #00000000 !important;
    background-color: #cb05ff70 !important;
}

.register-login{
    color: #d2d2d2;
    margin-bottom: 10px;
}
.register-login a{
    color: #cb05ff;
}

.register-logo{
    font-size: 30px;
    font-family: revert;
    font-weight: lighter;
}


/* Login */

.login-option{
    color: white;
    font-size: 20px;
    width: 20vw;
    border: 1px solid #6d188f;
    border-radius: 2em;
    padding: 5px 15px;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.login-box{
    display: flex;
    align-items: center;
    width: 60vw;
    height: 100vh;
    justify-content: space-evenly;
}

.login-input{
    width: 35vw;
    height: 100vh;
    display: flex;
    background-repeat: round;
    background-size: contain;
    background: linear-gradient(90deg, #0a1d26 0%, #4c3951 81.92%);
    /* clip-path: polygon(0% 0%, 80% 0%, 100% 29%, 100% 100%, 20% 100%, 0% 80%); */
    clip-path: polygon(10% 0%, 104% 0%, 100% 0%, 85% 100%, 0% 100%, 0% 100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input input{
    background-color: transparent;
    border: 1px solid #5d5d5d;
    margin-bottom: 20px;
    padding: 5px;
    width: 20vw;
    color: white;
}

.login-logo{
    font-size: 30px;
    font-family: revert;
    font-weight: lighter;
}


/* FOOTER */
footer{
    height: 10vh;
    margin-bottom: 30px;
    margin-right: 10px;
    background-repeat: round;
    background-size: contain;
    background: linear-gradient(90deg, #0a1d26 0%, #4c3951 81.92%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 95% 100%, 0% 100%, 0% 75%);
    padding: 20px 5vw;
    display: flex;
    align-items: center;
}

.footer-logo{
    color: #dcdcdc;
    font-size: 30px;
    font-family: system-ui;
    font-weight: lighter;
}